{% load static hosts %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <!-- core plugins -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/hamburgers.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/animate.css/animate.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/switchery/dist/switchery.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/sweetalert/dist/sweetalert.css' %}">
    <!-- Site-wide styles -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <!-- current page styles -->
    {% block page_css %}

    {% endblock %}
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600">
    <script src="{% static 'assets/vendor/bower_components/breakpoints.js/dist/breakpoints.min.js' %}"></script>
    <script>
        Breakpoints({
            xs: {
                min: 0,
                max: 575
            },
            sm: {
                min: 576,
                max: 767
            },
            md: {
                min: 768,
                max: 991
            },
            lg: {
                min: 992,
                max: 1199
            },
            xl: {
                min: 1200,
                max: Infinity
            }
        });
    </script>
</head>

<body class="menubar-left menubar-light {% block body_class %}{% endblock %}">
<!--[if lt IE 10]>
	  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<nav class="site-navbar navbar fixed-top navbar-toggleable-sm navbar-inverse bg-indigo-500">
    <!-- navbar header -->
    <div class="navbar-header">
        <a href="{% host_url 'members:index' host 'members' %}" class="navbar-brand">
            <span class="brand-icon">
                <img src="{% static 'logo.png' %}" width="100">
            </span>
            <span class="brand-name hidden-fold">CHIMAS</span>
        </a>
        <button data-toggle="menubar" class="mr-auto hidden-md-up hamburger hamburger--collapse js-hamburger"
                type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <button type="button" class="navbar-toggler hidden-md-up collapsed" data-toggle="collapse"
                data-target="#site-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="zmdi zmdi-hc-lg zmdi-more"></span>
        </button>
    </div>
    <!-- .navbar-header -->
    <div class="collapse navbar-collapse" id="site-navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item hidden-sm-down">
                <button data-toggle="menubar-fold" class="nav-link hamburger hamburger--arrowalt is-active js-hamburger"
                        type="button"><span class="hamburger-box">
                    <span class="hamburger-inner"></span></span>
                </button>
            </li>
            <li class="nav-item d-flex align-items-center">
                <h5 class="hidden-sm-down m-0 ml-3 page-title">{% block header_title %}{% endblock %}</h5>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- .site-navbar -->
<div class="site-wrapper">
    <aside class="site-menubar">
        <div class="site-user">
            <div class="media align-items-center">
                <div class="media-body hidden-fold">
                    <h6 class="mborder-a-0">
                        <a href="javascript:void(0)" class="username">{{ member.name }}</a>
                    </h6>
                    <div>
                        <a href="javascript:void(0)" class="usertitle">
                            <strong>{{ member.plan }}</strong>
                        </a>
                    </div>
                </div>
                <!-- /.media-body -->
            </div>
            <!-- ./media -->
        </div>
        <!-- ./site-user -->
        <div class="menubar-scroll-wrapper">
            <div class="site-menubar-inner">
                <ul class="site-menu">
                    <li class="{% block dash_lnk %}{% endblock %}">
                        <a href="{% host_url 'members:index' host 'members' %}">
                            <i class="menu-icon zmdi zmdi-home zmdi-hc-lg"></i> <span class="menu-text">Home</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="{% block claims_lnk %}{% endblock %}"><a href="javascript:void(0)"
                                                                        class="submenu-toggle"><i
                            class="menu-icon zmdi zmdi-format-align-left zmdi-hc-lg"></i> <span
                            class="menu-text">Claims</span> <i
                            class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i></a>
                        <ul class="submenu">
                            <li><a href="{% host_url 'members:claims_index' host 'members' %}"><span class="menu-text">My Claims</span></a>
                            </li>
                            <li><a href="{% host_url 'members:deps_claims_index' host 'members' %}"><span
                                    class="menu-text">Dependant Claims</span></a></li>
                        </ul>
                    </li>
                    <li class="{% block sub_lnk %}{% endblock %}">
                        <a href="{% host_url 'members:subscription' host 'members' %}">
                            <i class="menu-icon zmdi zmdi-money-box zmdi-hc-lg"></i> <span
                                class="menu-text">Subscription</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="{% block deps_lnk %}{% endblock %}">
                        <a href="{% host_url 'members:deps_index' host 'members' %}">
                            <i class="menu-icon zmdi zmdi-nature-people zmdi-hc-lg"></i> <span
                                class="menu-text">Dependants</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="{% block prov_lnk %}{% endblock %}">
                        <a href="{% host_url 'members:providers_index' host 'members' %}">
                            <i class="menu-icon zmdi zmdi-hospital zmdi-hc-lg"></i>
                            <span class="menu-text">Service Providers</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="{% block ben_lnk %}{% endblock %}">
                        <a href="{% host_url 'members:benefits_index' host 'members' %}">
                            <i class="menu-icon zmdi zmdi-shopping-cart zmdi-hc-lg"></i>
                            <span class="menu-text">Benefits</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="{% block comp_lnk %}{% endblock %}">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon fa fa-bullhorn zmdi-hc-lg"></i>
                            <span class="menu-text">Complaints</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{% host_url 'members:complaints_index' host 'members' %}">
                                    <span class="menu-text">My Complaints</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% host_url 'members:create_complaint' host 'members' %}">
                                    <span class="menu-text">Create Complaint</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-separator">
                        <hr>
                    </li>
                    <li>
                        <a href="{% host_url 'members:logout' host 'members' %}">
                            <i class="menu-icon zmdi zmdi-power-off zmdi-hc-lg"></i>
                            <span class="menu-text">Logout</span>
                        </a>
                    </li>
                </ul>
                <!-- .site-menu -->
            </div>
            <!-- .menubar-scroll-inner -->
        </div>
        <!-- /.menubar-scroll-wrapper -->
    </aside>
    <!-- site-menubar -->
    <main class="site-main">
        <div class="site-content">
            {% block site_content %}{% endblock %}
        </div>
        <!-- .site-footer -->
{#        <footer class="site-footer">#}
{#            <div class="copyright">Made with#}
{#                <i class="fa fa-heart text-danger"></i> by <a class="text-info" href="#">GZU</a>#}
{#                {% now 'Y' %}#}
{#            </div>#}
{#            <div class="footer-menu">#}
{#                <a href="javascript:void(0)">Careers</a>#}
{#                <a href="javascript:void(0)">#}
{#                    Privacy Policy#}
{#                </a>#}
{#                <a href="javascript:void(0)">Feedback</a>#}
{#            </div>#}
{#        </footer>#}
        <!-- /.site-footer -->
    </main>
    <!-- .site-main -->
</div>
<!-- ./sit-wrapper -->


<!-- site-wide JS plugins -->
<script src="{% static 'assets/vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/sweetalert/dist/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/switchery/dist/switchery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/waypoints/lib/shortcuts/sticky.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/global/js/plugins/firstlitter.js' %}"></script>
<script src="{% static 'assets/global/js/plugins/video-modal.js' %}"></script>
<!-- site-wide scripts -->
<script src="{% static 'assets/global/js/main.js' %}"></script>
<script src="{% static 'js/site.js' %}"></script>
<script src="{% static 'js/menubar.js' %}"></script>
</body>

</html>
