{% extends 'providers/base.html' %}
{% load static hosts humanize %}
{% block claims_lnk %}active{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/profile.css' %}">
{% endblock %}
{% block header_title %}
    Dependant Claims
{% endblock %}
{% block page_title %}
    Dependant Claims
{% endblock %}
{% block site_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="widget">
                <header class="widget-header"><h4 class="widget-title">Dependant Claims</h4></header>
                <hr class="widget-separator">
                <div class="widget-body">
                    <div class="streamline ml-4">
                        {% for claim in claims %}
                            <div class="sl-item pb-3">
                                <div class="sl-content ml-3">
                                    <h5 class="m-t-0">
                                        <a href="javascript:void(0)" class="mr-1 theme-color">
                                            <i class="fa fa-user"></i> {{ claim.dependant.name }}
                                        </a>
                                        <small class="text-muted fz-sm">
                                            {{ claim.dependant.pk}}
                                        </small>
                                    </h5>
                                    <p>
                                    <dl>
                                        <dt>Amount</dt>
                                        <dd class="lead">${{ claim.value }}</dd>
                                        <dt>Category (Balance)</dt>
                                        <dd class="lead">
                                            {{ claim.benefit.category.name }} (${{ claim.benefit.balance }})
                                        </dd>
                                        <dt>Notes</dt>
                                        <dd class="lead">{{ claim.notes }}</dd>
                                        <dt>Date</dt>
                                        <dd class="lead">{{ claim.created|date }}</dd>
                                        <dt>Subscription</dt>
                                        <dd class="lead">
                                            {% with claim.benefit.subscription as sub %}
                                                {{ sub.year }}
                                                <strong>({{ sub.start|date:'M d' }} - {{ sub.end|date:'M d' }})</strong>
                                            {% endwith %}
                                        </dd>
                                    </dl>
                                </div>
                            </div><!-- /.sl-item -->
                        {% endfor %}
                    </div><!-- /.streamline -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget -->
        </div>
    </div>
{% endblock %}
