{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Email Sent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <link rel="apple-touch-icon" href="apple-touch-icon.html"><!-- core plugins -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600">
    <!-- styles for the current page -->
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/404.css' %}">
    <!-- / styles for the current page -->
</head>
<body class="simple-page page-404"><!--[if lt IE 10]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<header class="simple-page-header">
    <div class="home-btn"><a href="#" class="btn btn-outline-secondary"><i
            class="fa fa-home animated zoomIn"></i></a></div>
</header>
<div class="simple-page-wrap">
    <div class="simple-page-content mb-4">
        <div class="simple-page-logo animated zoomIn">
            <a href="#"><span><i class="fa fa-houzz"></i>
            </span>
                <span>CHIMAS MEDICAL AID</span>
            </a>
        </div><!-- logo -->
        <div class="animated shake">
            <h1 id="_404" class="text-center text-white"><i class="fa fa-check"></i></h1>
            <p class="text-white text-center">
                We have sent an email to the email you provided with the link for signing up.
            </p>
        </div>
    </div><!-- /.simple-page-content --></div><!-- .simple-page-wrap --><!-- core plugins -->
<script src="{% static 'assets/vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
