{% extends 'providers/base.html' %}
{% load static hosts humanize crispy_forms_tags %}
{% block header_title %}
    Create Claim
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/login.css' %}">
{% endblock %}
{% block claims_lnk %}
    active
{% endblock %}
{% block body_class %}demo-examples demo-uikit-alerts{% endblock %}
{% block page_title %}
    Create Claim
{% endblock %}
{% block site_content %}
    <div class="simple-page-form animated zoomInDown" id="reset-password-form">
        <dl>
            <dt>Client</dt>
            <dd class="lead">{{ member.name }}({{ member.member_number }})</dd>
            <dt>Claim on</dt>
            <dd class="lead">
                {{ benefit.category.name }}
            </dd>
            <dt>Max Claimable Value</dt>
            <dd class="lead">
                ${{ benefit.balance }}
            </dd>
        </dl>
        {% crispy form %}
    </div>
{% endblock %}
