{% extends 'providers/base.html' %}
{% load static hosts humanize crispy_forms_tags %}
{% block header_title %}
    {{ claim }}
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/login.css' %}">
{% endblock %}
{% block claims_lnk %}
    active
{% endblock %}
{% block body_class %}demo-examples demo-uikit-alerts{% endblock %}
{% block page_title %}
    {{ claim }}
{% endblock %}
{% block site_content %}
    {% with claim.member as mem %}
        <div class="simple-page-form animated" id="reset-password-form">
            <dl>
                <dt>Client</dt>
                <dd class="lead">{{ mem.name }}({{ mem.member_number }})</dd>
                <dt>Claim on</dt>
                <dd class="lead">
                    {{ claim.benefit.category.name }}
                </dd>
                <dt>Amount</dt>
                <dd class="lead">
                    ${{ claim.value }}
                </dd>
                <dt>Notes</dt>
                <dd class="lead">
                    {{ claim.notes }}
                </dd>
                <dt>Date</dt>
                <dd class="lead">{{ claim.created }}</dd>

                <dt>Provider</dt>
                <dd class="lead">
                    {{ claim.provider }}
                    {% if claim.provider == provider %}
                        (You)
                    {% endif %}, {{ claim.provider.city|default:'' }}
                    <br>
                    <i>{{ claim.provider.address }}</i>
                </dd>

            </dl>
        </div>
    {% endwith %}
{% endblock %}
