{% extends 'providers/base.html' %}
{% load static hosts %}
{% block claims_lnk %}active{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/search.css' %}">
{% endblock %}
{% block body_class %}
    page-search page-search-web no-padding
{% endblock %}
{% block header_title %}
    Make Claim
{% endblock %}
{% block page_title %}
    New Claim
{% endblock %}
{% block site_content %}
    <div class="search-header">
        <div class="search-form-wrap">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    {% if form.non_field_errors %}
                        <div class="col-xs-12 col-sm-8 offset-sm-1">
                            <div class="alert alert-danger">
                                <p>{{ form.non_field_errors|first }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-xs-12 mt-3 col-sm-8 offset-sm-1">
                        {{ form.member_number }}
                    </div>
                    <div class="col-xs-12 mt-3 col-sm-2">
                        <input type="submit" class="btn btn-primary btn-block search-form-submit" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
