{% extends 'providers/base.html' %}
{% load static hosts %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/profile.css' %}">
{% endblock %}
{% block header_title %}
    Select Benefit
{% endblock %}
{% block claims_lnk %}
    active
{% endblock %}
{% block page_title %}
    Select Benefit
{% endblock %}
{% block site_content %}
    <div class="row">
        {% for benefit in benefits %}
            <div class="col-md-6 col-sm-6">
                {% if benefit.balance > 0 %}
                    <a href="{% host_url 'providers:add_member_claim' benefit.member.member_number benefit.pk host 'providers' %}">
                        <div class="widget p-3 clearfix">
                            <div class="float-left">
                                <h3 class="widget-title">{{ benefit.category.name }}</h3>
                                <small class="text-muted">{{ benefit.category.description|default:'-' }}</small>
                            </div>
                            <span class="float-right fz-lg">${{ benefit.balance }}</span>
                        </div><!-- /.widget -->
                    </a>
                {% else %}
                    <div class="widget p-3 clearfix">
                        <div class="float-left">
                            <h3 class="widget-title">{{ benefit.category.name }}</h3>
                            <small class="text-muted">{{ benefit.category.description|default:'-' }}</small>
                        </div>
                        <span class="float-right fz-lg">${{ benefit.balance }}</span>
                    </div><!-- /.widget -->
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
