{% extends 'providers/base.html' %}
{% load static hosts %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/profile.css' %}">
{% endblock %}
{% block header_title %}
    {{ member }}
{% endblock %}
{% block claims_lnk %}
active
{% endblock %}
{% block page_title %}
    {{ member }}
{% endblock %}
{% block site_content %}
    <div class="profile-header">
        <div class="profile-header-cover">
            <div class="text-center">
                <h5 class="mb-1">
                    <a href="javascript:void(0)">#{{ member.member_number }}</a>
                </h5>
                <h2 class="mb-4">
                    <a href="javascript:void(0)">{{ member.name }}</a>
                </h2>
                <dl class="dl-horizontal">
                    <dt>Gender, Age</dt>
                    <dd class="lead">{{ member.get_gender_display }}, {{ member.age }}</dd>
                    <dt>National ID</dt>
                    <dd class="lead">{{ member.national_id }}</dd>
                    <dt>Phone</dt>
                    <dd class="lead">{{ member.phone|default_if_none:'-' }}</dd>
                    <dt>Address</dt>
                    <dd class="lead">{{ member.address }}</dd>
                    <dt>Allergies</dt>
                    <dd class="lead">{{ member.allergies|default:'-' }}</dd>
                </dl>
                {% with member.subscription as sub %}
                    {% if sub %}
                        {% if member.is_active %}
                            <a href="{% host_url 'providers:mmc' member.member_number host 'providers' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Make Claim</a>
                            <a href="{% host_url 'providers:dlist' member.pk host 'providers' %}" class="btn btn-warning"><i class="fa fa-group"></i> Dependants</a>
                        {% else %}
                            Account {{ member.get_membership_status }}
                        {% endif %}
                    {% else %}
                        <h3>No active subscription!</h3>
                    {% endif %}
                {% endwith %}
            </div>
        </div><!-- ./profile-header-cover -->
    </div>
{% endblock %}
