{% load static crispy_forms_tags hosts %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600">
    <!-- styles for the current page -->
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/login.css' %}">
    <!-- / styles for the current page --></head>
<body class="simple-page page-signup"><!--[if lt IE 10]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<header class="simple-page-header">
    <div class="home-btn"><a href="{% host_url 'index' host 'www' %}" class="btn btn-outline-secondary"><i
            class="fa fa-home animated zoomIn"></i></a></div>
</header>
<div class="simple-page-wrap">
    <div class="simple-page-content mb-4">
        <div class="simple-page-logo animated zoomIn">
            <a href="{% host_url 'index' host 'www' %}">
                <span>
                    <img src="{% static 'logo.png' %}">
                </span><br>
            <span>CHIMAS MEDICAL AID</span></a></div><!-- logo -->
        <div class="simple-page-form animated flipInY" id="signup-form">
            <h6 class="form-title mb-4 text-center">Sign Up</h6>
            {% crispy form %}
        </div><!-- #login-form -->
        <div class="text-white text-center">
            <p>
                <small class="mr-2">Do you have an account ?</small>
                <a href="{% host_url 'members:sign_in' host 'members' %}" class="text-white font-weight-bold">SIGN
                    IN</a></p>
        </div><!-- .simple-page-footer -->
    </div><!-- /.simple-page-content -->
</div><!-- .simple-page-wrap -->
<!-- core plugins -->
<script src="{% static 'assets/vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
