{% load static hosts %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <link rel="apple-touch-icon" href="apple-touch-icon.html"><!-- core plugins -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600">
    <!-- styles for the current page -->
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/404.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/dashboards/dashboard.v1.css' %}">
    <!-- / styles for the current page -->
</head>
<body class="simple-page page-404"><!--[if lt IE 10]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<header class="simple-page-header">
    <div class="home-btn"><a href="{% host_url 'index' host 'www' %}" class="btn btn-outline-secondary"><i
            class="fa fa-home animated zoomIn"></i></a></div>
</header>
<div class="simple-page-wrap">
    <div class="simple-page-content mb-0">
        <div class="simple-page-logo animated zoomIn">
            <a href="/">
            <span>
                <img src="{% static 'logo.png' %}">
            </span>
            <br>
                <span>CHIMAS MEDICAL AID</span>
            </a>
        </div><!-- logo -->
        <div class="animated zoomIn">
            <div class="row">
                <div class="col-lg-12 mb-0 col-sm-6">
                    <a href="{% host_url 'members:index' host 'members' %}">
                        <div class="widget m-3 mb-2 stats-widget">
                        <div class="widget-body bg-orange-700 text-white">
                            <div class="float-left text-white">
                                <h3 class="widget-title text-white">
                                    Members Portal
                                </h3>
                                <small class="text-white">
                                    CHIMAS Members only
                                </small>
                            </div>
                            <span class="float-right big-icon watermark">
                                <i class="fa fa-group"></i>
                            </span>
                        </div>
                        <a href="{% host_url 'members:index' host 'members' %}">
                            <footer class="widget-footer bg-white">

                                <span class="text-color">
                                    &nbsp;
                                </span>
                                <span class="small-chart text-color float-right" id="dash1-sparkline-1">
                                <i class="fa fa-external-link"></i>
                            </span>
                            </footer>
                        </a>
                    </div><!-- /.widget -->
                    </a>
                    
                </div>
                <div class="col-lg-12 col-sm-6">
                    <a href="{% host_url 'providers:index' host 'providers' %}">
                        <div class="widget m-3 mt-2 stats-widget">
                        <div class="widget-body bg-info text-white">
                            <div class="float-left text-white">
                                <h3 class="widget-title text-white">
                                    Partners Portal
                                </h3>
                                <small class="text-white">
                                    Service Providers only
                                </small>
                            </div>
                            <span class="float-right big-icon watermark">
                                <i class="fa fa-heartbeat"></i>
                            </span>
                        </div>
                        <a href="{% host_url 'providers:index' host 'providers' %}">
                            <footer class="widget-footer bg-white">

                                <span class="text-color">
                                    &nbsp;
                                </span>
                                <span class="small-chart text-color float-right" id="dash1-sparkline-1">
                                <i class="fa fa-external-link"></i>
                            </span>
                            </footer>
                        </a>
                    </div><!-- /.widget -->
                    </a>
                    
                </div>
                <div class="col-lg-12 col-sm-6">
                    <a href="{% host_url 'news_index' host 'www' %}">
                        <div class="widget m-3 mt-2 stats-widget">
                        <div class="widget-body bg-success text-white">
                            <div class="float-left text-white">
                                <h3 class="widget-title text-white">
                                    CHIMAS News
                                </h3>
                                <small class="text-white">
                                    News &amp; Updates
                                </small>
                            </div>
                            <span class="float-right big-icon watermark">
                                <i class="fa fa-newspaper-o"></i>
                            </span>
                        </div>
                        <a href="{% host_url 'news_index' host 'www' %}">
                            <footer class="widget-footer bg-white">

                                <span class="text-color">
                                    &nbsp;
                                </span>
                                <span class="small-chart text-color float-right" id="dash1-sparkline-1">
                                <i class="fa fa-external-link"></i>
                            </span>
                            </footer>
                        </a>
                    </div><!-- /.widget -->
                    </a>
                    
                </div>
            </div>
        </div>
    </div><!-- /.simple-page-content --></div><!-- .simple-page-wrap --><!-- core plugins -->
<script src="{% static 'assets/vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
