{% load static hosts %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <link rel="apple-touch-icon" href="apple-touch-icon.html"><!-- core plugins -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600">
    <!-- styles for the current page -->
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/404.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/dashboards/dashboard.v1.css' %}">
    <!-- / styles for the current page -->
</head>
<body class="simple-page page-404"><!--[if lt IE 10]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<header class="simple-page-header">
    <div class="home-btn"><a href="{% host_url 'news_index' host 'www' %}" class="btn btn-outline-secondary"><i
            class="fa fa-home animated zoomIn"></i> CHIMAS Bulletin</a></div>
</header>
<div class="simple-page-wrap">
    <div class="simple-page-content mb-0">
        <div class="simple-page-logo animated zoomIn">
            <a href="/">
                <span>
                    <img src="{% static 'logo.png' %}">
                </span>
                <br>
            </a>
        </div><!-- logo -->
        <div class="animated zoomIn">
            <div class="row">
                {% for article in articles %}
                    <div class="col-lg-12 mb-0 col-sm-6 border-bottom">
                        <div class="card-block bg-white p-3">
                            <h5 class="card-title">
                                {{ article.headline }}
                            </h5>
                            <p class="card-text">
                                {{ article.body|truncatewords:10 }}
                            </p>
                            <a href="{% host_url 'article' article.pk host 'www' %}" class="btn btn-sm btn-primary">Read more &hellip;</a>
                        </div>
                    </div><!-- /.card -->
                {% endfor %}

                <!-- Pagination -->
                {% if articles and paginator.num_pages > 1 %}
                    <div class="col-12">
                        <center>
                            <div class="btn-group mt-3">
                                {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                {% else %}
                                    <a href="javascript:void(0)" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                {% endif %}
                                <button type="button" class="btn btn-default">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </button>
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-warning"><i class="fa fa-arrow-right"></i></a>
                                {% else %}
                                    <a href="javascript:void(0)" class="btn btn-warning"><i class="fa fa-arrow-right"></i></a>
                                {% endif %}
                            </div>
                        </center>
                    </div>

                    </div>
                    <!-- Pagination / End -->
                {% else %}
                    <div class="margin-top-60 margin-bottom-60"></div>
                {% endif %}

        </div>
    </div>
</div><!-- /.simple-page-content -->
<!-- core plugins -->
<script src="{% static 'assets/vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'assets/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
