{% extends 'members/base.html' %}
{% load static hosts humanize %}
{% block header_title %}
    Benefits
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/demos/demos.css' %}">
{% endblock %}
{% block ben_lnk %}
    active
{% endblock %}
{% block body_class %}demo-examples demo-uikit-alerts{% endblock %}
{% block page_title %}
    Benefits
{% endblock %}
{% block site_content %}
    <div class="row">
        {% for benefit in benefits %}
            <div class="col-lg-3 col-sm-6">
                <div class="box p-3 text-center">
                    <h3 class="text-primary">
                        <strong>${{ benefit.balance }}</strong>
                    </h3>
                    <h6 class="text-gray-dark">{{ benefit.category.name }}</h6>
                    <p class="text-muted">{{ benefit.category.description|default_if_none:'-' }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
