{% extends 'members/base.html' %}
{% load static hosts humanize %}
{% block header_title %}
    CHIMAS Partners in {{ city.name }}
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/demos/demos.css' %}">
{% endblock %}
{% block prov_lnk %}
    active
{% endblock %}
{% block body_class %}demo-examples demo-uikit-alerts{% endblock %}
{% block page_title %}
    CHIMAS Partners in {{ city.name }}
{% endblock %}
{% block site_content %}
    <div class="row">
        {% for prov in providers %}
            <div class="col-lg-3 col-sm-6">
                <div class="card bg-white">
                    <div class="card-block text-center">
                        <a href="#">
                            <h6 class="lead">{{ prov.name }}</h6>
                        </a>
                        <div class="mb-3">#{{ prov.provider_number }}</div>
                        <div>
                            <div class="">
                                <dl>
                                    <dt><i class="fa fa-map-marker"></i> Address</dt>
                                    <dd>{{ prov.address }}</dd>

                                    <dt>Phone</dt>
                                    <dd>{{ prov.phone }}</dd>
                                </dl>
                                {% if prov.phone %}
                                    <a class="btn btn-success btn-sm" href="tel:{{ prov.phone }}">
                                        <i class="fa fa-phone"></i> Call now
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div><!-- /.card-block -->
                </div><!-- /.card -->
            </div><!-- /.col -->
        {% endfor %}
    </div>
{% endblock %}
