{% extends 'members/base.html' %}
{% load static hosts %}
{% block header_title %}
    Home
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/profile.css' %}">
{% endblock %}
{% block page_title %}
    Home
{% endblock %}
{% block dash_lnk %}
    active
{% endblock %}
{% block site_content %}
    <div class="profile-header">
        <div class="profile-header-cover">
            <div class="text-center">
                <h5 class="mb-1">
                    <a href="javascript:void(0)">#{{ member.member_number }}</a>
                </h5>
                <h2 class="mb-4">
                    <a href="javascript:void(0)">{{ member.name }}</a>
                </h2>
                <dl class="dl-horizontal">
                    <dt>Gender, Age</dt>
                    <dd class="lead">{{ member.get_gender_display }}, {{ member.age }}</dd>
                    <dt>Date Joined</dt>
                    <dd class="lead">{{ member.date_joined }}</dd>
                    <dt>Marital Status</dt>
                    <dd class="lead">{{ member.get_marital_status_display }}</dd>
                    <dt>National ID</dt>
                    <dd class="lead">{{ member.national_id }}</dd>
                    <dt>Phone</dt>
                    <dd class="lead">{{ member.phone|default_if_none:'-' }}</dd>
                    <dt>Address</dt>
                    <dd class="lead">{{ member.address }}</dd>
                    <dt>Allergies</dt>
                    <dd class="lead">{{ member.allergies|default:'-' }}</dd>
                </dl>
                <a class="btn btn-rounded btn-outline-danger" href="{% host_url 'members:cancel_membership' host 'members' %}">
                   <i class="fa fa-times"></i> Cancel Membership
                </a>
 
            </div>
        </div><!-- ./profile-header-cover -->
    </div>
{% endblock %}
