{% extends 'members/base.html' %}
{% load static hosts humanize %}
{% block header_title %}
    CHIMAS Partners
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/demos/demos.css' %}">
{% endblock %}
{% block prov_lnk %}
    active
{% endblock %}
{% block body_class %}demo-examples demo-uikit-alerts{% endblock %}
{% block page_title %}
    CHIMAS Partners
{% endblock %}
{% block site_content %}
    <div class="row">
        {% for city in cities %}
            <div class="col-md-6 col-sm-6">
                <div class="widget theme-color p-3 clearfix">
                    <div class="float-left">
                        <a href="{% host_url 'members:city_providers' city.pk host 'members' %}">
                            <h3 class="widget-title">{{ city.name }}</h3>
                        </a>
                        <small class="text-color"># of providers</small>
                    </div>
                    <span class="float-right fz-lg counter" data-plugin="counterUp">{{ city.providers.count }}</span>
                </div><!-- /.widget -->
            </div>
        {% endfor %}
    </div>
{% endblock %}
