{% extends 'members/base.html' %}
{% load static hosts humanize %}
{% block header_title %}
    Subscription
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/demos/demos.css' %}">
{% endblock %}
{% block sub_lnk %}
    active
{% endblock %}
{% block body_class %}demo-examples demo-uikit-alerts{% endblock %}
{% block page_title %}
    Subscription
{% endblock %}
{% block site_content %}
    {% with member.subscription as sub %}
        <div class="demo-wrapper">
            <div class="card">
                <div class="row">
                    <div class="col-lg-12">
                        {% if sub %}
                            <div class="text-success">
                                <div class="media">
                                    <i class="fa fa-check-square fa-2x mr-4"></i>
                                    <div class="media-body">
                                        <h6><b>Subscription Active</b></h6>
                                        <div>
                                            <small>You have an active subscription</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="text-danger">
                                <div class="media">
                                    <i class="fa fa-check-square fa-2x mr-4"></i>
                                    <div class="media-body">
                                        <h6><b>Subscription Inactive</b></h6>
                                        <div>
                                            <small>You don't have an active subscription</small>
                                        </div>
                                        <br>
                                        <button class="btn btn-outline-success btn-rounded">
                                           <i class='fa fa-money'></i> Make Payment
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.card -->
            <div class="row">
                <div class="col-12">
                    <div class="widget">
                        <header class="widget-header">
                            <h4 class="widget-title">
                                <i class="fa fa-history"></i> Subscription History</h4>
                        </header>
                        <hr class="widget-separator">
                        <div class="widget-body">
                            <div class="streamline">
                                {% for s in subs %}
                                    <div class="sl-item {% if s == sub %}sl-success{% endif %}">
                                        <div class="sl-content">
                                            <strong class="text-muted">{{ s.start|date:'M d' }}
                                                - {{ s.end|date:'M d' }}</strong>
                                            <p>
                                                <small>
                                                    {% if s.balance > 0 %}
                                                        You have a balance of ${{ s.balance }} on this subscription!
                                                    {% else %}
                                                        This subscription was paid in full.
                                                    {% endif %}
                                                </small>
                                            <p>
                                                Subscription Details:
                                                <small>
                                                    <dl>
                                                        <dt>Year</dt>
                                                        <dd class="">{{ s.year }}</dd>
                                                        <dt>Start</dt>
                                                        <dd class="">{{ s.start }}</dd>
                                                        <dt>End</dt>
                                                        <dd class="">{{ s.end }}</dd>
                                                    </dl>
                                                </small>
                                        </div>
                                    </div><!-- /.sl-item -->
                                {% endfor %}
                            </div><!-- /.streamline -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}
