{% extends 'members/base.html' %}
{% load static hosts humanize crispy_forms_tags %}
{% block header_title %}
    {{ comp.subject }}
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/login.css' %}">
{% endblock %}
{% block comp_lnk %}
    active
{% endblock %}
{% block body_class %}demo-examples demo-uikit-alerts{% endblock %}
{% block page_title %}
    {{ comp.subject }}
{% endblock %}
{% block site_content %}
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="box p-3 p-5 text-center">
                <h5 class="text-primary">
                    <strong>{{ comp.get_status_display }}</strong>
                </h5>
                <h6 class="text-gray-dark">{{ comp.subject }}</h6>
                <p class="text-muted">{{ comp.message }}</p>
            </div>
        </div>
    </div>
{% endblock %}
