{% extends 'members/base.html' %}
{% load static hosts humanize crispy_forms_tags %}
{% block header_title %}
    Complaints
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/faq.css' %}">
{% endblock %}
{% block comp_lnk %}
    active
{% endblock %}
{% block body_class %}page-support{% endblock %}
{% block page_title %}
    Your Complaints
{% endblock %}
{% block site_content %}
    <div class="row">
        <div class="col-lg-10 col-md-9">
            <div id="faq-accordion" class="accordion-custom mb-4" role="tablist" aria-multiselectable="true">
                {% for com in complaints %}
                    <div class="card mb-1">
                        <div class="card-header bg-primary text-white" role="tab" id="heading{{ forloop.counter }}">
                            <a class="card-heading text-white" data-toggle="collapse"
                               href="#collapse{{ forloop.counter }}"
                               data-parent="#faq-accordion"
                               aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                               aria-controls="collapse{{ forloop.counter }}">
                                #{{ forloop.counter }}. {{ com.subject }}
                            </a>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}"
                             role="tabpanel"
                             aria-labelledby="heading{{ forloop.counter }}">
                            <div class="card-block">
                                <dl>
                                    <dt>Message</dt>
                                    <dd class="lead">{{ com.message }}</dd>
                                    <dt>Replies</dt>
                                    {% for reply in com.replies.all %}
                                        <dd> &bull; {{ reply.message }} - @ {{ reply.created|date }}</dd>
                                    {% empty %}
                                        No replies yet
                                    {% endfor %}

                                </dl>

                            </div>
                        </div>
                    </div><!-- /.card -->
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
