{% extends 'providers/base.html' %}
{% load static hosts %}
{% block header_title %}
    Home
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/profile.css' %}">
{% endblock %}
{% block page_title %}
    Home
{% endblock %}
{% block dash_lnk %}
    active
{% endblock %}
{% block site_content %}
    <div class="profile-header">
        <div class="profile-header-cover">
            <div class="text-center">
                <h5 class="mb-1">
                    <a href="javascript:void(0)">#{{ provider.provider_number }}</a>
                </h5>
                <h2 class="mb-4">
                    <a href="javascript:void(0)">{{ provider.name }}</a>
                </h2>
                <dl class="dl-horizontal">
                    <dt>Service Category</dt>
                    <dd class="lead">{{ provider.cat }}</dd>
                    <dt>Email</dt>
                    <dd class="lead">{{ provider.email_address }}</dd>
                    <dt>Phone</dt>
                    <dd class="lead">{{ provider.phone|default_if_none:'-' }}</dd>
                    <dt>Address</dt>
                    <dd class="lead">{{ provider.address }}</dd>
                </dl>
                <a class="btn btn-rounded btn-outline-primary" href="{% host_url 'providers:update_profile' host 'providers' %}">
                   <i class="fa fa-pencil"></i> Update Details
                </a>
            </div>
        </div><!-- ./profile-header-cover -->
    </div>
{% endblock %}
