{% extends 'members/base.html' %}
{% load static hosts %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/profile.css' %}">
{% endblock %}
{% block header_title %}
    {{ dep }}
{% endblock %}
{% block page_title %}
    {{ dep }}
{% endblock %}
{% block site_content %}
    <div class="profile-header">
        <div class="profile-header-cover">
            <div class="text-center">
                <h5 class="mb-1">
                    <a href="javascript:void(0)">#{{ dep.pk }}</a>
                </h5>
                <h2 class="mb-4">
                    <a href="javascript:void(0)">{{ dep.name }}</a>
                </h2>
                <dl class="dl-horizontal">
                    <dt>Benefactor</dt>
                    <dd class="lead">{{ dep.member.name }}</dd>
                    <dt>Relationship</dt>
                    <dd class="lead">{{ dep.get_relationship_display }}</dd>
                    <dt>Gender, Age</dt>
                    <dd class="lead">{{ dep.get_gender_display }}, {{ dep.age }}</dd>
                    <dt>National ID</dt>
                    <dd class="lead">{{ dep.national_id }}</dd>
                    <dt>Phone</dt>
                    <dd class="lead">{{ dep.phone|default_if_none:'-' }}</dd>
                    <dt>Address</dt>
                    <dd class="lead">{{ dep.address }}</dd>
                    <dt>Allergies</dt>
                    <dd class="lead">{{ dep.allergies }}</dd>
                </dl>

            </div>
        </div><!-- ./profile-header-cover -->
    </div>
{% endblock %}
