{% extends 'members/base.html' %}
{% load static hosts %}
{% block header_title %}
    Dependants
{% endblock %}
{% block deps_lnk %}
    active
{% endblock %}
{% block page_title %}
    Dependants
{% endblock %}
{% block site_content %}
    <div class="row">
        {% for dep in deps %}
            <div class="col-lg-3 col-sm-6">
                <div class="card bg-white">
                    <div class="card-block text-center">
                        <a href="{% host_url 'members:dep_detail' dep.pk host 'members' %}">
                            <h6 class="lead">{{ dep.name }}</h6>
                        </a>
                        <div class="mb-3">{{ dep.get_relationship_display }}</div>
                        <div>
                            <a href="javascript:void(0)" class="social-icon text-hv-facebook">
                                {{ dep.get_gender_display }}, {{ dep.age }}
                            </a>
                        </div>
                    </div><!-- /.card-block -->
                </div><!-- /.card -->
            </div><!-- /.col -->
        {% endfor %}
    </div>
{% endblock %}
